body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #8C1007, #3E0703);
}

.delivery-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.delivery-box {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  width: 400px;
  text-align: center;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  animation: fadeIn 1s ease-in-out, floatUp 0.8s ease-in-out;
}

.delivery-box h2 {
  margin-bottom: 10px;
  color: #3E0703;
}

.subtitle {
  color: #666;
  margin-bottom: 25px;
  font-size: 14px;
}

.input-group {
  position: relative;
  margin-bottom: 20px;
}

.input-group input,
.input-group textarea,
.input-group select {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  font-size: 16px;
  background: transparent;
  transition: 0.3s;
  resize: none;
}

.input-group input:focus,
.input-group textarea:focus,
.input-group select:focus {
  border-bottom: 2px solid #FFB22C;
}

.input-group label {
  position: absolute;
  top: 12px;
  left: 0;
  color: #999;
  font-size: 16px;
  pointer-events: none;
  transition: 0.3s ease;
}

.textarea-label {
  top: -20px !important;
  font-size: 12px;
  color: #FFB22C;
}

.input-group input:focus + label,
.input-group input:valid + label {
  top: -10px;
  font-size: 12px;
  color: #FFB22C;
}

.input-group textarea:focus + label,
.input-group textarea:valid + label {
  top: -20px;
  font-size: 12px;
  color: #FFB22C;
}

.place-order-btn {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background: tomato;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  transition: 0.3s;
}

.place-order-btn:hover {
  background: #FF5733;
  transform: scale(1.05);
}


@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

@keyframes floatUp {
  from { transform: translateY(40px); }
  to { transform: translateY(0); }
}
