body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #8C1007;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.payment-container {
  background: #fff;
  padding: 30px 40px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

.payment-container h2 {
  margin-bottom: 20px;
  color: #8C1007;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 14px;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
}

.card-details {
  display: flex;
  gap: 15px;
}

.pay-btn {
  display: inline-block;
  width: 100%;
  text-align: center;
  padding: 12px;
  background: tomato;
  border: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}

.pay-btn:hover {
  background: #FF5733;
  transform: scale(1.05);
}


.back-link {
  margin-top: 15px;
}

.back-link a {
  text-decoration: none;
  color: #8C1007;
  font-weight: bold;
}
